nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
}

ul.nav li {
  display: inline-block;
  font-weight: 600;
}

ul.nav li a {
  color: #000;
  margin: 10px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1130px) {
  nav {
    justify-content: center;
  }
  nav ul {
    flex-wrap: wrap;
  }
}
